@font-face {
  font-family: "svgtofont";
  src: url('svgtofont.eot?t=1764234073683'); /* IE9*/
  src: url('svgtofont.eot?t=1764234073683#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('svgtofont.woff2?t=1764234073683') format('woff2'),
  url('svgtofont.woff?t=1764234073683') format('woff'),
  url('svgtofont.ttf?t=1764234073683') format('truetype'),
  url('svgtofont.svg?t=1764234073683') format('svg');
}

[class^="svgtofont-"], [class*=" svgtofont-"] {
  font-family: 'svgtofont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svgtofont-el-arrow-down::before { content: "\ea01"; }
.svgtofont-el-arrow-right::before { content: "\ea02"; }
.svgtofont-el-delete::before { content: "\ea03"; }
.svgtofont-el-info-filled::before { content: "\ea04"; }
.svgtofont-el-warning-filled::before { content: "\ea05"; }
.svgtofont-icon-dribbble::before { content: "\ea06"; }
.svgtofont-icon-file_mode::before { content: "\ea07"; }
.svgtofont-icon-link::before { content: "\ea08"; }
.svgtofont-icon-linkedin::before { content: "\ea09"; }
.svgtofont-icon-logo_white::before { content: "\ea0a"; }
.svgtofont-icon-setting::before { content: "\ea0b"; }
.svgtofont-icon-start::before { content: "\ea0c"; }
.svgtofont-icon-stop::before { content: "\ea0d"; }
.svgtofont-icon-tools::before { content: "\ea0e"; }
.svgtofont-icon-vue::before { content: "\ea0f"; }


